# ============ YOUTUBE API ============
YOUTUBE_CLIENT_ID=your_client_id_here
YOUTUBE_CLIENT_SECRET=your_client_secret_here
YOUTUBE_REFRESH_TOKEN=your_refresh_token_here

# ============ GEMINI API ============
GEMINI_API_KEY=your_google_api_key_here
TTS_MODEL=gemini-2.5-flash-preview-tts
TTS_VOICE=Puck

# ============ FOOTBALL DATA ============
FOOTBALL_DATA_API_KEY=your_football_data_key_here
COMPETITION_ID=2000

# ============ CONFIGURACION ============
MODO=auto
MAX_ITEMS=4
